
#contenedor-titulo {
    width: 100%;
    background: #003448;
}
.titulo{
box-sizing: border-box;
color: white;
font-family: "Dancing Script", cursive;
font-size: 50px;
padding-left: 50px;
float: left;
width: 55%;
}


.imagentitulo {
box-sizing: border-box;
  width: 45%;
  padding-right: 50px;
  margin-top: 30px;
  float: left;
}
.logo {
width: 300px;
height: 200px;
padding-left: 10px;
}
.pagina2 nav {
background-color: rgb(229, 153, 47);
padding: 10px;
text-align: center;
font-size: large;
            
}
.pagina2 nav a {
text-decoration: none;
color: rgb(16, 16, 16);
padding: 18px;
}
.pagina2 nav a:hover {
color: rgb(229, 153, 47);
background-color:#003448;
padding: 5px;
}

.pagina2 body{
margin: 0;
padding: 0;
background-repeat: no-repeat;
background-size: cover;
}
#contenedor_general{
  margin: 0;
padding: 0;
background-image: url(../img/fondo4.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.pagina2 section{
 width: 100%;
 height: 1200px;
}
.menu1{
width: 450px;
height: 1000px;
background-color:#003448;
color: rgb(229, 153, 47);
margin-left: 50px;
margin-top: 100px;
padding: center;
border-radius: 12px; 
text-align: center;
padding-right: 30px;
padding-left: 15px;
font-size: x-large;
float: left;
}
.fotocomida{
    width: 50%;
    height: 1000px;
    float: left;
    margin-top: 100px;
    margin-left: 150px;
}
.comida{
    width: 49%;
    height: 35%;
    margin-left: 15px;
}
.comida1{
    width: 47%;
    height: 35%;
    margin-left: 5px;
}
.comida2{
    margin-left: 37%;
    width: 300px;
    height: 300px;
}
.foti{
  width: 48%;
  height: 34%;
  margin-left: 15px;
  float: left;
}
.postre{
  width: 48%;
  height: 34%;
  float: left;
  margin-left: 10px;
}
.segundo_contenedor{
    width: 100%;
    height: 850px; 
}
.vinoteca{
    width: 100%;
    height: 1000px; 
    text-align: center;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: #003448;
}
.descripcionvino{
  width: 100%;
  height: 100px;
  font-size: 50px;
  text-align: center;
  font-family:"Dancing Script", cursive;
  color: #003448;
}
.personaliza{
    width: 47%;
    height: 700px;
    color: #003448;
    margin-left: 20px;
    margin-top: 150px;
    float: left;
    font-size: x-large;
    box-sizing: border-box;
    padding-left: 50px;
    text-align: center;
}
.personalizatitulo{
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
.personaliza1{
  width: 280px;
  height: 390px;
  background-color:#003448;
  float: left;
  border-radius: 12px;
  text-align: center;
  color:rgb(229, 153, 47);
  margin-left: 50px;
  
}
.personaliza2{
  width: 280px;
  height: 390px;
  background-color:#003448;
  margin-left: 50px;
  text-align: center;
  border-radius: 12px;
  float: left;
  color: rgb(229, 153, 47);
}
.pertexto{
    width: 40%;
    height: 520px;
    margin-left: 20px;
    margin-top: 250px;
    text-align: center;
    font-size: x-large;
    color:#003448;
    float: left;  
}
.pertextovideo{
  margin-top: 200px;

}
#customers {
  font-family: "Dancing Script", cursive;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    margin-top: 170px;
    margin-left: 50px;
    font-size: x-large;
    float:left;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(251, 248, 248);
    padding: 8px;
  }
  
  #customers tr:nth-child(even){
    background-color: rgb(229, 153, 47);

}
#customers tr:nth-child(odd){
    background-color:#003448;
    color: rgb(229, 153, 47);

}
  
  #customers tr:hover td[not( rowspan="2")]{
    color: rgb(229, 153, 47)
}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#003448;;
    color:rgb(229, 153, 47);
  }
  .fotovino{
    width: 43%;
    height: 450px;
    float: left;
    margin-left: 50px;
    margin-top: 150px;
  }
.pagina2 form {
    display: flex;
    flex-direction: column;
}
.pagina2 label {
    margin: 10px 0 5px;
}
.pagina2 input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.pagina2 button {
    padding: 10px;
    background-color: rgb(229, 153, 47);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pagina2 button:hover {
    background-color: #5a3833;
}
.bienvenida{
    background-color: aliceblue;
}


/*Angely*/
#contenedor-titulo {
  width: 100%;
  background: #003448;
}
.titulo{
box-sizing: border-box;
color: white;
font-family: "Dancing Script", cursive;
font-size: 50px;
padding-left: 50px;
float: left;
width: 55%;
}


.imagentitulo {
box-sizing: border-box;
width: 45%;
padding-right: 50px;
margin-top: 30px;
float: left;
}
.logo {
width: 300px;
height: 200px;
padding-left: 10px;
}
.pagina3 nav {
background-color: rgb(229, 153, 47);
padding: 10px;
text-align: center;
font-size: large;
          
}
.pagina3 nav a {
text-decoration: none;
color: rgb(16, 16, 16);
padding: 18px;
}
.pagina3 nav a:hover {
color: rgb(229, 153, 47);
background-color:#003448;
padding: 5px;
}

.pagina3 section {

  background-color:rgb(47, 35, 19);
  color: black;
  font-family: 'Times New Roman', Times, serif;

}

.menus {
  float: left;
  background-color: rgb(187, 164, 132);
  width: 100%;
  height: 30%;
  margin-left: auto;

}

.menu {
  padding-top: 210px ;
  padding-bottom:210px ;
  text-align: center;
  font-size: 300%;
  float: none;
  background-image: url(../img/comid.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

}

.menu2 {
  padding-top: 210px ;
  padding-bottom:210px ;
  text-align: center;
  font-size: 300%;
  float: none;
  background-image: url(../img/comidasdelesteconjunto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

}

.prueba-menu {
  background-color:beige;
  font-size: larger;
  width: 40%;
  margin:auto;
  position:relative;
  height: 40%;
  padding: 20px;


}


.prueba-menu .esenciadeleste {
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  margin: 10px;

}

.subtitulos-menu {
  
  background-color:beige;
  
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: 40px;
  margin-right: 20px; 
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  width: 60%;
  float: left;
 
}

.subtitulos-menu .subentrada {
  text-align:center;
  font-size: 250%;
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.subtitulos-menu .contenido {
  font-size: 16px;
  padding-right: 5px;
  overflow:auto



 
  
}
.entrada1 {

  float: left;
  text-align:justify;
  color: black;
  width: 70%;
  padding-left: 30px;
  padding-right:15px ;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  text-align: 15px;
  margin: none;

}

.entrada1 .subtitulodeentrada {
  font-size: 25px;
}
.nombre-entrada {
  text-align: left;
  font-size: 120%;

}
.entradas {
  padding-bottom: 30px;
  
}

.imagen-menu {

  float:left;
  width: 30%;
  margin-top: 35px;



  
}
.imagen-menu img {
  width: 100%;
  height: auto;
}

.marcador-opcion {
  background-color:beige;
  width: 80%;
  height: 60%;
  margin: auto;
  padding: 20px;
  border-color: bisque;
  border-radius: 20px;




}

.marcador-opcion .text {
  
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}


.opcion {
  padding-top: 10px;
  

}

.opcion-caja {
  
  background: rgb(187, 164, 132);
  
  margin-left: 20px;
  margin-right: 20px; 
  margin-top: 30px;
  margin-bottom: 40px;
  height: 645px;
  display: flex;
  width: 30%;
  float: left;

 
  
}
.enviado {
  margin: auto;
  width: 100%;
  padding-left: 150px;
  padding-top: 10px;
  
}

/*David*/
#contenedor-principal {
  font-family: "Arial", cursive;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Título y Logo */
#contenedor-titulo {
  background-color:#003448;
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

#contenedor-titulo .logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

#navegacion nav {
  text-align: center;
  background-color:rgb(229, 153, 47);

}

#navegacion nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  
}

#navegacion nav a:hover {
  background-color:#003448;
}

/* Estilos para el formulario de reserva */
.container {
  padding: 20px;
}

.formulario {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.formulario h2 {
  color:#003448;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reserva button {
  width: 100%;
  padding: 15px;
  background-color:#003448;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserva button:hover {
  background-color:rgb(229, 153, 47);
}
/*Index*/

/* General */
.pagina-1 body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana */
}

/* Header */
#contenedor-titulo {
  background-color:#003448;
  color: white;
  padding: 20px 0;
  text-align: center;
}

#contenedor-titulo h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

#contenedor-titulo .logo {
  width: 150px;
  height: auto;
  margin-top: 5px;
}

/* Navegación */
.pagina-1 nav {
  text-align: center;
  background-color:rgb(229, 153, 47);
}

.pagina-1 nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.pagina-1 nav a:hover {
  background-color: #003448;
}

/* Contenido Principal */
.contenido-principal {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

.bienvenida h2 {
  color: rgb(229, 153, 47);
  text-align: center;
}

.bienvenida p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

/* Secciones destacadas */
.secciones {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas filas */
  justify-content: space-between; /* Asegura que los divs estén separados */
  gap: 20px; /* Espacio entre los divs */
  margin-top: 40px;
}

/* Cada sección tendrá un tamaño de 48% para ajustarse dos por fila */
.seccion {
  background-color: #003448;
  padding: 20px;
  width: 48%; /* Dos divs por fila */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Transición para el efecto hover */
}

.seccion:hover {
  transform: translateY(-10px); /* Efecto de elevación al pasar el ratón */
}

.seccion h3 {
  color: #cdcfc9;
}

.seccion p {
  font-size: 16px;
  color: #aea9a9;
}

/* Estilo de los botones */
.button {
  display: inline-block;
  background-color: #003448;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(229, 153, 47);
}

/* Reserva */
.reserva {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
}

.pagina1 h3 {
  background-color: rgb(255, 255, 255);
  color: rgb(229, 153, 47);
}

.pagina-1 p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Footer */
.pie_pagina {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  font-family: 'Dancing Script', cursive;
  width: 100%;
  margin-top: auto; /* Asegura que el pie de página se mantenga al fondo */
  box-sizing: border-box; /* Asegura que el padding no haga que se desborde */
  overflow-x: hidden; /* Elimina la barra de desplazamiento horizontal */
}

/* Para eliminar cualquier desplazamiento no deseado */
.pagina-1 html, body {
  overflow-x: hidden; /* Elimina cualquier barra de desplazamiento horizontal global */
}